QuanLyTTTV/WindowsFormsClient/Service References/ServiceReference2/TTTVService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TTTVService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TTTVService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TrackedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackingId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackedFault" nillable="true" type="tns:TrackedFault" />
</xs:schema>