QuanLyTTTV/WindowsFormsClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.tamtrutamvang.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tamtrutamvang.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tamtrutamvang.com/Imports">
      <xsd:import namespace="http://www.tamtrutamvang.com/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TTTVService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pis_GetAuthorInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorInfo" />
  </wsdl:message>
  <wsdl:message name="pis_GetAuthorInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorInfoResponse" />
  </wsdl:message>
  <wsdl:message name="pis_GetAuthorInfo_TrackedFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/TTTVService" name="detail" element="q1:TrackedFault" />
  </wsdl:message>
  <wsdl:message name="pis_FindInfoByName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindInfoByName" />
  </wsdl:message>
  <wsdl:message name="pis_FindInfoByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindInfoByNameResponse" />
  </wsdl:message>
  <wsdl:message name="pis_FindInfoByName_TrackedFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/TTTVService" name="detail" element="q2:TrackedFault" />
  </wsdl:message>
  <wsdl:message name="pis_FindInfoByPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:FindInfoByPhone" />
  </wsdl:message>
  <wsdl:message name="pis_FindInfoByPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindInfoByPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="pis_FindInfoByPhone_TrackedFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/TTTVService" name="detail" element="q3:TrackedFault" />
  </wsdl:message>
  <wsdl:message name="pis_FindInfoByIdNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:FindInfoByIdNumber" />
  </wsdl:message>
  <wsdl:message name="pis_FindInfoByIdNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindInfoByIdNumberResponse" />
  </wsdl:message>
  <wsdl:message name="pis_FindInfoByIdNumber_TrackedFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/TTTVService" name="detail" element="q4:TrackedFault" />
  </wsdl:message>
  <wsdl:message name="pis_ListPersonBySex_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPersonBySex" />
  </wsdl:message>
  <wsdl:message name="pis_ListPersonBySex_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPersonBySexResponse" />
  </wsdl:message>
  <wsdl:message name="pis_ListPersonBySex_TrackedFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/TTTVService" name="detail" element="q5:TrackedFault" />
  </wsdl:message>
  <wsdl:message name="pis_ListPersonByAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPersonByAddress" />
  </wsdl:message>
  <wsdl:message name="pis_ListPersonByAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPersonByAddressResponse" />
  </wsdl:message>
  <wsdl:message name="pis_ListPersonByAddress_TrackedFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/TTTVService" name="detail" element="q6:TrackedFault" />
  </wsdl:message>
  <wsdl:message name="pis_ListPersonByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPersonByDate" />
  </wsdl:message>
  <wsdl:message name="pis_ListPersonByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPersonByDateResponse" />
  </wsdl:message>
  <wsdl:message name="pis_ListPersonByDate_TrackedFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/TTTVService" name="detail" element="q7:TrackedFault" />
  </wsdl:message>
  <wsdl:message name="pis_ListOccupationByAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOccupationByAddress" />
  </wsdl:message>
  <wsdl:message name="pis_ListOccupationByAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOccupationByAddressResponse" />
  </wsdl:message>
  <wsdl:message name="pis_ListOccupationByAddress_TrackedFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/TTTVService" name="detail" element="q8:TrackedFault" />
  </wsdl:message>
  <wsdl:message name="pis_CountSexByAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:CountSexByAddress" />
  </wsdl:message>
  <wsdl:message name="pis_CountSexByAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountSexByAddressResponse" />
  </wsdl:message>
  <wsdl:message name="pis_CountSexByAddress_TrackedFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/TTTVService" name="detail" element="q9:TrackedFault" />
  </wsdl:message>
  <wsdl:message name="pis_LoadData_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadData" />
  </wsdl:message>
  <wsdl:message name="pis_LoadData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataResponse" />
  </wsdl:message>
  <wsdl:message name="pis_LoadData_TrackedFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/TTTVService" name="detail" element="q10:TrackedFault" />
  </wsdl:message>
  <wsdl:message name="pis_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="pis_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="pis_InsertInfomation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertInfomation" />
  </wsdl:message>
  <wsdl:message name="pis_UpdatInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatInformation" />
  </wsdl:message>
  <wsdl:message name="pis_DeleteInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInformation" />
  </wsdl:message>
  <wsdl:portType name="pis">
    <wsdl:operation name="GetAuthorInfo">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/GetAuthorInfo" message="tns:pis_GetAuthorInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://www.tamtrutamvang.com/pis/GetAuthorInfoResponse" message="tns:pis_GetAuthorInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.tamtrutamvang.com/pis/GetAuthorInfoTrackedFaultFault" name="TrackedFaultFault" message="tns:pis_GetAuthorInfo_TrackedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindInfoByName">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/FindInfoByName" message="tns:pis_FindInfoByName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.tamtrutamvang.com/pis/FindInfoByNameResponse" message="tns:pis_FindInfoByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.tamtrutamvang.com/pis/FindInfoByNameTrackedFaultFault" name="TrackedFaultFault" message="tns:pis_FindInfoByName_TrackedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindInfoByPhone">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/FindInfoByPhone" message="tns:pis_FindInfoByPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://www.tamtrutamvang.com/pis/FindInfoByPhoneResponse" message="tns:pis_FindInfoByPhone_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.tamtrutamvang.com/pis/FindInfoByPhoneTrackedFaultFault" name="TrackedFaultFault" message="tns:pis_FindInfoByPhone_TrackedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindInfoByIdNumber">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/FindInfoByIdNumber" message="tns:pis_FindInfoByIdNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://www.tamtrutamvang.com/pis/FindInfoByIdNumberResponse" message="tns:pis_FindInfoByIdNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.tamtrutamvang.com/pis/FindInfoByIdNumberTrackedFaultFault" name="TrackedFaultFault" message="tns:pis_FindInfoByIdNumber_TrackedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPersonBySex">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/ListPersonBySex" message="tns:pis_ListPersonBySex_InputMessage" />
      <wsdl:output wsaw:Action="http://www.tamtrutamvang.com/pis/ListPersonBySexResponse" message="tns:pis_ListPersonBySex_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.tamtrutamvang.com/pis/ListPersonBySexTrackedFaultFault" name="TrackedFaultFault" message="tns:pis_ListPersonBySex_TrackedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPersonByAddress">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/ListPersonByAddress" message="tns:pis_ListPersonByAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://www.tamtrutamvang.com/pis/ListPersonByAddressResponse" message="tns:pis_ListPersonByAddress_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.tamtrutamvang.com/pis/ListPersonByAddressTrackedFaultFault" name="TrackedFaultFault" message="tns:pis_ListPersonByAddress_TrackedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPersonByDate">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/ListPersonByDate" message="tns:pis_ListPersonByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://www.tamtrutamvang.com/pis/ListPersonByDateResponse" message="tns:pis_ListPersonByDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.tamtrutamvang.com/pis/ListPersonByDateTrackedFaultFault" name="TrackedFaultFault" message="tns:pis_ListPersonByDate_TrackedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListOccupationByAddress">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/ListOccupationByAddress" message="tns:pis_ListOccupationByAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://www.tamtrutamvang.com/pis/ListOccupationByAddressResponse" message="tns:pis_ListOccupationByAddress_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.tamtrutamvang.com/pis/ListOccupationByAddressTrackedFaultFault" name="TrackedFaultFault" message="tns:pis_ListOccupationByAddress_TrackedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountSexByAddress">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/CountSexByAddress" message="tns:pis_CountSexByAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://www.tamtrutamvang.com/pis/CountSexByAddressResponse" message="tns:pis_CountSexByAddress_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.tamtrutamvang.com/pis/CountSexByAddressTrackedFaultFault" name="TrackedFaultFault" message="tns:pis_CountSexByAddress_TrackedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadData">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/LoadData" message="tns:pis_LoadData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.tamtrutamvang.com/pis/LoadDataResponse" message="tns:pis_LoadData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.tamtrutamvang.com/pis/LoadDataTrackedFaultFault" name="TrackedFaultFault" message="tns:pis_LoadData_TrackedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/Login" message="tns:pis_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://www.tamtrutamvang.com/pis/LoginResponse" message="tns:pis_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertInfomation">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/InsertInfomation" message="tns:pis_InsertInfomation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatInformation">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/UpdatInformation" message="tns:pis_UpdatInformation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInformation">
      <wsdl:input wsaw:Action="http://www.tamtrutamvang.com/pis/DeleteInformation" message="tns:pis_DeleteInformation_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>