QuanLyTTTV/WindowsFormsClient/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.tamtrutamvang.com/" elementFormDefault="qualified" targetNamespace="http://www.tamtrutamvang.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AuthorInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorInformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInfoByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoByAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoByAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInfoByAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>