QuanLyTTTV/WindowsFormsClient/Service References/ServiceReference1/TTTVService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TTTVService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TTTVService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TrackedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackingId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackedFault" nillable="true" type="tns:TrackedFault" />
  <xs:complexType name="ArrayOfTranferRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TranferRecord" nillable="true" type="tns:TranferRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTranferRecord" nillable="true" type="tns:ArrayOfTranferRecord" />
  <xs:complexType name="TranferRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrentAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranferRecord" nillable="true" type="tns:TranferRecord" />
</xs:schema>